*{
    padding: none;
    margin:none;
}
.container-fluid{
    margin-top: 10px;
}
.text-center{
    text-align: center;
}
#title{
    font-size: 500%;
    color: white;
  text-shadow:
   -1px -1px 0 #1d8cf8 ,  
    1px -1px 0 #1d8cf8 ,
    -1px 1px 0 #1d8cf8 ,
     1px 1px 0 #1d8cf8 ;
}

#datatable{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
table, td, th {  
    border: 1px solid #ddd;
    
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
   
  }
  thead{
      box-shadow:0 5px 5px #666;
  }
  th, td {
    padding: 15px;
  }
  

.TFtable{
    width:100%; 
    border-collapse:collapse; 
    border-right-style: none;
    border-left-style: none;
    
}
.TFtable td{ 
    padding:7px; border:rgb(20, 1, 1) 1px solid;
    border-right-style: none;
    border-left-style: none;

}
.TFtable thead tr{
    background: #ffffff;
    border-right-style: none;
    border-left-style: none;
}

.TFtable tfoot tr{
    background: #ffffff;
    border-right-style: none;
    border-left-style: none;
}

.TFtable tr:nth-child(odd){ 
    background: #9ab3d6;
}

.TFtable tr:nth-child(even){
    background: #dae5f4;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    border-radius: 30px;
    color: white;
  }
  .pagination :hover{
    background-color: rgb(211, 238, 216);
    border-radius: 30px;
  }
.pull-right{
    float: right;
}
.btn{
    background: #1d8cf8 ;
    
}
.btn-lar
{
    padding: 3px;
    text-align: center;
    font-size: 150%;
    border-radius: 20px 20px;
    height:40px;
    width:100%;
}
#searchBar{
    text-transform:lowercase;
}
.hidetext { -webkit-text-security: disc; /* Default */ }





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }