<h2>Film Controller</h2> <h4>PhatLA</h4>
<ul>
    <li>
        <a style="color:red">Get all list:</a>  <a>api/film/GetAllListFilm/</a>
    </li>
    <li>
        <a style="color:red">Find film by name:</a>  <a>api/film/FindFilmByName/{name}</a>
    </li>
    <li>
        <a style="color:red">Find film by id:</a>  <a>api/film/FindFilmByID/{id}</a>
    </li>
    <li>
        <a style="color:red">Add new Film:</a>  <a>api/film/AddNewFilm/</a>
    </li>
    <li>
        <a style="color:red">Delete Film:</a>  <a>api/film/DeleteFilm/{film}</a>
    </li>
    <li>
        <a style="color:red">Edit Film:</a>  <a>api/film/EditFilm/</a>
    </li>
</ul>
